.left{
    color:tomato;
    font-size:1rem;
    width : 300px;
}
.frame{
    color:tomato;
    font-size:1rem;
    width : 300px;
}
.right{
    color:tomato;
    font-size:1rem;
    width : 300px;
}